	body{
		font-family: "microsoft yahei" sans-serif;
	}
	.navbar-default {
	    background-color: #fff;
	    border: none;
	    box-shadow: 2px 2px 3px #999;
	}
	.navbar-default .navbar-brand {
	    color: #40D2B1;
	    font-weight: bold;
	    font-size: 30px;
	}
	.navbar-default .navbar-brand:hover{
		color: cornflowerblue;
	}
	.navbar-nav {
	    margin: 0px -15px;
	}
	#home{
		margin-top: 50px;
		background-color: #273E3B;
		background-size: cover;
		color: #FFFFFF;
		text-align: center;
		width: 100%;
	}
	.lvjing{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.7);
		padding: 50px 0;
	}
	#home h1{
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 28px;
	}
	#home p{
		font-weight: 400;
		font-size: 12px;
	}
	#home img{
		margin: auto;
		margin-top: 25px;
		display: inline-block;
	}
	#bbs{
		padding: 60px 0;
		text-align: center;
	}
	#bbs .col-md-4{
		padding: 15px;
	}
	#bbs .col-md-4:hover{
		background: #f1f1f1;
		box-shadow: 1px 1px 4px #CCCCCC;
	}
	#bbs a{
		color: #212121;
		text-decoration: none;
	}
	#bbs img{
		width: 50%;
		height: 50%;
		margin:auto;
	}
	#bbs h3{
		font-weight: bold;
	}
	#html5{
		background: #F8F8F8;
		padding: 80px 0;
	}
	#html5 .col-md-6{
		margin-bottom: 20px;
	}
	#html5 h2{
		font-weight: bold;
		font-size: 28px;
	}
	#html5 p{
		font-size: 14px;
	}
	#html5 img{
		margin: auto;
	}
	#html5 .icon{
		background: rgb(64,210,177);
		color: #FFFFFF;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		margin-right: 10px;
	}
	#course{
		text-align: center;
		background: #F8F8F8;
	}
	#course h2{
		margin-bottom: 20px;
		margin: 50px 0;
		font-weight: bold;
	}
	#course img{
		width: 90%;
		margin: auto;
	}
	.course{
		background: #FFFFFF;
	}
	.fastener{
		margin: 20px 0;
	}
	.col-md-3{
		margin-bottom: 30px;
	}#app{
		background: #F8F8F8;
		padding: 50px 0;
	}
	#app h2{
		font-weight: bold;
	}
	#app p{
		line-height: 1.6;
		margin: 20px 0;
	}
	#app .btn{
		margin-bottom:20px;
	}
	#app img{
		margin: auto;
		padding: 20px 0;
	}
	#contact{
		background-image: url('../img/contact.jpg');
		background-size: cover;
		color: #FFFFFF;
	}
	#contact h2{
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 25px;
	}
	#contact p{
		line-height: 25px;
		margin-bottom: 20px;
	}
	#contact .form-control{
		border: none;
		border-radius: 0;
		height: 50px;
		margin-bottom: 20px;
	}
	#contact textarea.form-control{
		height: auto;
	}
	#contact input[type="submit"]{
		background: #40D2B1;
		color: #FFFFFF;
		font-weight: bold;
		transition:all .3s;
	}
	#contact input[type="submit"]:hover{
		background: rgb(44,142,120);
		
	}
/* 没有小于786px， 是因为Bootstrap3以移动端优先*/
	/* 小屏幕 （平板，大于等于768px）*/	
	@media (min-width:768px){
		#home h1{
			font-size: 28px;
		}
		#home p{
			font-size: 12px;
		}
		
	}
	
	/* 中等屏幕 （桌面显示器，大于等于992px）*/	
	@media (min-width:992px){
		#home h1{
			font-size: 35px;
		}
		#home p{
			font-size: 13px;
		}
		.text{
			float: right;
		}
		.img{
			float: right;
		}
	}
	
	/* 大屏幕 （大桌面显示器，大于等于1200px）*/	
	@media (min-width:1200px){
		#home h1{
			font-size: 40px;
		}
		#home p{
			font-size: 14px;
		}
	}

